@font-face{
    font-family: Questrial;
    src: url("lib/Questrial.ttf");
}

* {
    font-family: sans-serif;
    font-family: Questrial;
}

#ip {
    position: absolute;
    right: 2%;
}

#icon {
    filter: invert(1);
    filter: -webkit-invert(1);
    height: 5%;
    position: absolute;
    left: 2%;
}

#home {
    vertical-align: center;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff9c4;
}

header {
    background-color: #219cf3;
    text-align: center;
    font-size: 3em;
    color: white;
    padding: 1%;
    cursor: pointer;
}

#wrapper {
    display:flex;
    display: -webkit-flex;
    align-content: space-between;
    margin-top: 5%;
}

fieldset {
    width: 28%;
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    padding-top: 3%;
    height: 70vh;
    overflow-y: auto;
}

fieldset * {
    margin: 3%;
}

legend {
    font-size: 2em;
}

input {
    display: block;
}

a {
    display: block;
    color: black;
    text-decoration: none;
    transition: 0.2s;
}

input {
    font-size: 1.2em;
}

a:hover {
    color: #00c853;
}

.size {
    color: green;
}

#dltable * {
    word-wrap: normal;
}

table {
    font-size: 1.2em;
    border: solid 1px black;
}

.title {
    font-size: 1.3em;
}

#inputname, #input {
    padding: 1%;
}

#chatbox, #inputbox, #namebox {
    border: solid 1px black;
    overflow-y: auto;
    width: 90%;
    display:flex;
    align-content: space-between;
    margin: 0;
}

#namebox {
    display:flex;
    display: -webkit-flex;
    flex-direction: row;
    border-bottom: none;
    background-color: #c8e6c9;
    padding-top: 1%;
    padding-bottom: 1%;
    align-content: space-between;
}

#register {
    font-size: 1.3em;
}

#chatbox {
    height: 80%;
    border-bottom: none;
    background-color: white;
    display: block;
}

.chatrow, .chatrow0 {
    display:flex;
    display: -webkit-flex;
    align-content: space-between;
    flex-direction: row;
    background-color: #e0e0e0;
}

.chatrow0 {
    background-color: #8bc34a;
}

.chatrow0 .user {
    color: white;
}

#inputbox {
    padding: 0;
    margin: 0;
    display:flex;
    display: -webkit-flex;
    flex-direction: row;
}

#input {
    width: 95%;
    resize: none;
    padding: 0.5vh;
    align-self: flex-start;
    margin-left: 0;
    margin-right: 0;
    border: none;
    border-right: solid 1px black;
}

#enter {
    margin-left: 0;
    margin-right: 0;
    border: solid 1px black;
    transition: background-color 0.3s;
}

#enter:hover {
    background-color: #e5e5e5;
}

.content, .time, .user {
    padding: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.user {
    color: green;
    font-weight: bolder;
}

.content {
    width: 80%;
}

.time {
    width: 20%;
    text-align: right;
    color: #424242;
    font-weight: bolder;
}

#displayName {
    display: none;
    font-size: 1.3em;
    color: black;
    font-weight: bolder;
}