@font-face{
    font-family: Questrial;
    src: url("lib/fonts/Questrial.ttf");
}

* {
    font-family: Questrial;
}

body {
    background-color: #fff9c4;
}

header {
    background-color:  #219cf3;
    color: white;
    padding: 1%;
    font-size: 3em;
    text-align: center;
    cursor: pointer;
}

.panel-heading {
    margin-left: -3%;
    width: 106%;
    text-align: center;
}

.panel-title {
    font-size: 2em;
}

#headerIcon {
    filter: invert(1);
    filter: -webkit-invert(1);
    height: 5vh;
    margin-left: 5%;
}

#ip {
    margin-right: 5%;
}

#headerText {
    padding: 1%;
    text-align: right;
}

section {
    margin-top: 3vh;
}

.panel {
    border: solid 1px black;
}

#fileUploads * {
    margin-top: 1%;
    margin-bottom: 1%;
}

#dlTable {
    text-align: center;
}

.dlHeader {
    font-size: 1.5em;
    font-weight: bolder;
}

#headerRow {
    padding-bottom: 3%;
    border-bottom: solid black 1px;
    margin-bottom: 3%;
}

@media screen and (max-width: 768px){
    .fsEntry {
        text-align: center;
    }
    .fnEntry {
        text-align: center;
    }
    .fileIcon {
        height: 10%;
    }
}

@media screen and (min-width: 769px) {
    .fsEntry {
        text-align: right;
    }
    .fnEntry {
        text-align: left;
        border-right: solid black 1px;
    }
    #dlTable {
        max-height: 70vh;
        overflow-y: auto;
    }
    .fileIcon {
        height: 4%;
    }
    .category {
    margin-left: 6vw;
}
}

.fileLink {
    color: black;
    font-size: 1.3em;
    transition: color 0.3s;
}

.fileLink:hover {
    color: #00c853;
    text-decoration: none;
}

.fileSize {
    font-size: 1.3em;
    color: green;
}

.fsUnit {
    font-size: 1.3em;
}

.fileIcon {
    height: 4%;
    border-radius: 50%;
    border: solid black 1px;
    margin-top: 1%;
    margin-bottom: 1%;
}

#inputName, #register {
    padding: 1%;
}

#chatBody {
    margin-top: 3%;
    margin-bottom: 3%;
}

#displayName {
    display: none;
    font-weight: bolder;
    font-size: 2em;
}

#registerPane {
    background-color: #ffcdd2;
    padding: 3%;
    border: solid black 1px;
}

#messagesBox {
    border: solid black 1px;
    border-top: none;
    padding: 5%;
    height: 55vh;
    max-height: 70vh;
    overflow-y: auto;
}

#inputBox {
    border: solid black 1px;
    border-top: none;
}

.chatrow, .chatrow0 {
    background-color: #2ecc71;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    font-size: 1.3em;
}

.chatrow0 {
    background-color: #bdc3c7;
}

.user {
    color: white;
}

#input {
    resize: none;
    border: none;
}

#enter {
    height: 4%;
    border: solid black 1px;
    transition: color 0.3s;
}

#enter:hover {
    background-color: #e5e5e5;
    border: solid black 1px;
}